* {
    padding: 0;
    margin: 0;
    font-family: "New Tegomin", serif;
    box-sizing: border-box;
    transition: 0.2s;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    
    background-image: url(asset/img/pub.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    display: grid;
    
    grid-template-rows: 7.5rem auto 80px;
}

h2, p, label {
    color: wheat;
}

h2 {
    font-size: clamp(1.2rem, 5vw, 2rem);
}

p {
    font-size: clamp(1rem, 5vw, 1.4rem);
}
/* ------------------------------------------------------------------------------------- */

/* 
 * Header
 */

.top-content{
    grid-row: 1;

    display: flex;
    background-color: hsla(0, 0%, 0%, 0.705);
    width: 100%;
    height: 7.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;

    position: relative;
}

.top-content > input {
    display: none;
}

.top-content img {
    width: 140px;
    border-radius: 50%;
}

.top-content img:hover {
    box-shadow: 0px 0px 10px goldenrod;
    transform: scale(1.1, 1.1);
}

.top-content ul {
    list-style: none;
    display: flex;

    gap: 28px;
}

.top-content ul li button {
    text-decoration: none;
    color: wheat;
    font-size: 1.4rem;

    background: none;
    border: none;
}

.top-content ul li button:hover, .top-content ul li button.active {
    text-shadow: 3px 3px 4px goldenrod;
    transform: scale(1.2, 1.2);
}


/* ------------------------------------------------------------------------------------- */

/* 
 * Tab content
 */

#content {
    grid-row: 2;

    height: 100%;
}

#content .wrapper {
    background-color: hsla(0, 0%, 0%, 0.7);
    border-radius: 20px;
    padding: 15px 20px;
}

#content .heading.wrapper {
    justify-self: center;

    text-align: center;
}

#content h2.heading {
    padding: 0px 20px;
}


/* ------------------------------------------------------------------------------------- */

/* 
 * Home
 */

.home-content {
    padding: 60px 20px;
    display: flex;
    
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.home-content img {
    max-width: 420px;
    height: 380px;
    background-color: hsla(0, 0%, 0%, 0.7);
    border-radius: 50%;
}

.home-content > div {
    width: min(100%, 520px);
    display: grid;
}

.home-content > div h2{
    margin-bottom: 18px;
}

.home-content > div p{
    width: 100%;

    text-align: center;
}

.home-content > .desc p {
    text-indent: 90px;
    text-align: justify;
}

.home-content > .desc > .buttons{
    margin-top: 20px;

    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-content > .desc button{
    width: 200px;
    height: 55px;
    border-radius: 60%;
    background-color: rgb(254, 217, 171);
    font-size: 19px;
    border: none;
    box-shadow: 0px 0px 18px rgba(244, 195, 70, 0.753);
}

.home-content > .desc button:hover{
    transform: scale(1.1, 1.1);
    border: 1px solid blanchedalmond;
    box-shadow: 0px 0px 18px rgb(255, 224, 19);
    cursor: pointer;
}

.home-content > .open-info > .open-hours p {
        line-height: 2.2rem;
}

.home-content > .location-info > p {
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------------- */


/* 
 * Menu
 */

.menu-content {
    height: 100%;
    padding: 60px;

    display: grid;

    gap: 40px;
}

.menu-content > .category {
    width: 100%;

    display: grid;

    grid-template-rows: 2.2rem 1fr;

    gap: 20px;
}

.menu-content > .category > .items {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr) );
}

.menu-content > .category > .items > .item-card {
    width: max-content;
    height: min-content;

    justify-self: center;

    text-align: center;
}

.menu-content > .category >.items  > .item-card > .item-img-div {
    width: 220px;
    height: 220px;

    overflow: hidden;
}

.menu-content > .category >.items  > .item-card > .item-img-div img {
    width: 100%;
    height: 100%;
}

.menu-content > .category >.items  > .item-card > .item-img-div img:hover {
    transform: scale(1.1);
}


/* ------------------------------------------------------------------------------------- */

/* 
 * Contact
 */

 .contact-content {
    padding: 60px;

    display: grid;

    gap: 40px;
 }

 .contact-form, .contact-detail {
    width: min(100%, 450px);

    justify-self: center;

    display: grid;
 }

 .contact-form {
    grid-template-rows: repeat(4, minmax(1fr, auto));

    gap: 20px;
 }

 .contact-form > div {
    display: grid;

    gap: 4px;

    width: 100%;
 }

 .contact-form > div > label {
    font-size: clamp(1rem, 5vw, 1.4rem);
 }

 .contact-form > div > input,
 .contact-form > div > textarea {
    border: none;
    padding: 5px;

    width: 100%;
 }

 .contact-form > div > input:hover,
 .contact-form > div > textarea:hover,
 .contact-form > div > input:focus,
 .contact-form > div > textarea:focus {
    box-shadow: 0px 0px 10px goldenrod;
 }
 

 .contact-form > div > input {
    line-height: 2rem;

    font-size: 1.1rem;

 }

 .contact-form > div > textarea {
    height: 140px;

    font-size: 1.1rem;

    resize: none;
 }

 .contact-form > div > button {
    width: 140px;
    height: 35px;

    justify-self: center;

    margin-bottom: 10px;

    border-radius: 60%;
    background-color: rgb(254, 217, 171);
    font-size: 19px;
    border: none;
    box-shadow: 0px 0px 18px rgba(244, 195, 70, 0.753);
 }

.contact-form > div > button:hover{
    transform: scale(1.1, 1.1);
    border: 1px solid blanchedalmond;
    box-shadow: 0px 0px 18px rgb(255, 224, 19);
    cursor: pointer;
}

.contact-detail {
    gap: 12px;
}

.contact-detail > div {
    display: flex;
}

.contact-detail > div label {
    margin-right: 4px;
    font-size: clamp(0.8rem, 4vw, 1.1rem);
}

.contact-detail > div a,
.contact-detail > div p {
    color: burlywood;

    text-decoration: underline;

    cursor: pointer;

    font-size: clamp(0.6rem, 4vw, 1rem);
}
 
/* ------------------------------------------------------------------------------------- */

footer {
    grid: 3;

    height: 80px;

    background-color: hsla(0, 0%, 0%, 0.7);

    text-align: center;
}

footer > div {
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

/* RESPONSIVE */

@media (max-width: 600px){
    .top-content{
        justify-content: center;

        position: fixed;
         
        z-index: 1;
    }

    .top-content img{
        display: block;
        cursor: pointer;
    }

    .top-content ul{
        width: 100%;
        background-color: hsla(0, 9%, 15%, 0.7);
        position: absolute;
        top: 7.5rem;
        left: 0;
        right: 0;
        flex-direction: column;
        transform-origin: center;
        gap: 0px;
    }

    .top-content ul li{
        width: 100%;
    }

    .top-content ul li button{
        width: 100%;

        line-height: 2.6rem;
    }

    .top-content ul li button:hover,
    .top-content ul li button.active {
        background-color: hsla(0, 0%, 0%, 0.7);
        transform: none;
    }

    #check:checked ~ ul {
        left: -100%;
    }

    .home-content img{
        display: none;
    }
    
    .home-content .desc .buttons button{
        width: 40%;
        line-height: 1.1rem;
        font-size: clamp(9px, 5vw, 1rem);
    }

    .home-content > .location-info > .map {
        width: min(100%, 475px);
        height: min(60vw, 475px);
    }
}

